@import "bootstrap";

body {
    padding-top: 50px;
}
footer {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    background-color: #f9f9f9;
}

tr.versusRow > td {
    font-size: 1.4em;
}
tr.scoreRow > td {
    padding-bottom: 1em;
    font-size: 1.2em;
}
