{{#each model as |matchday|}}
    {{#if matchday.matches}}
        <div class="page-header">
            <h2>{{format-date matchday.date}} <small>{{matchday.matches.length}} Matches</small> </h2>

                <table style="width: 60%">
                    <thead/>
                    <tbody>
            {{#each matchday.matches as |match|}}

                        <tr class="versusRow">
                            <td align="center">{{#link-to 'team' match.team1.id}}Team {{match.team1.id}}{{/link-to}} ({{#link-to 'player' match.team1.player1}}{{match.team1.player1.name}}{{/link-to}},
                    {{#link-to 'player' match.team1.player2.id}}{{match.team1.player2.name}}{{/link-to}})
                            </td>
                            <td align="center">vs</td>
                            <td align="center"> {{#link-to 'team' match.team2.id}}Team {{match.team2.id}}{{/link-to}} ({{#link-to 'player' match.team2.player1.id}}{{match.team2.player1.name}}{{/link-to}},
{{#link-to 'player' match.team2.player2.id}}{{match.team2.player2.name}}{{/link-to}})
                            </td>
                        </tr>

                        <tr class="scoreRow">
                            <td align="center">{{match.goals1}}</td>
                            <td align="center">
                    {{#if match.crawling}}
                        <span class="badge">Crawling!</span>
                    {{/if}}
                            </td>
                            <td align="center">{{match.goals2}}</td>
                        </tr>
            {{/each}}
                    </tbody>
                </table>
        </div>
    {{/if}}
{{/each}}

{{page-numbers content=content}}
