<div class="page-header">
    <h1>{{model.name}}</h1>
</div>

<h2>Match Statistics</h2>

 <ul class="list-group">
     <li class="list-group-item">Games played: {{model.statistics.matchesplayed}}</li>
     <li class="list-group-item">Points: {{model.statistics.points}}</li>
     <li class="list-group-item">Average Points won per Match: {{model.statistics.avgpoints}}</li>
     </ul>

<!-- {{c3-chart data=matches_gauge_data }} -->

<div class="panel panel-default">
    <div class="panel-heading">Match Statistics</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                {{nvd3-chart type='pieChart' datum=matchesData beforeSetup=matchesDataBeforeSetup options=matchesDataOptions}}
            </div>

            <div class="col-md-6">
                {{nvd3-chart type='pieChart' datum=crawlData beforeSetup=matchesDataBeforeSetup options=crawlOptions}}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Points History</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{nvd3-chart type='lineWithFocusChart' datum=pointsHistData options=pointsHistOptions beforeSetup=pointsHistBeforeSetup}}
            </div>
        </div>
        <div class="row">
            <div class="btn-group" role="group" >
                <button {{action 'fullHistory'}} type="button" class="btn btn-default">Full History</button>
                <button {{action 'limitHistory'}} type="button" class="btn btn-default">Last 100 Matches</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Last Matches</div>
    <div class="panel-body">
        ...
    </div>
</div>
