<h1>Players</h1>

<table class="table table-hover table-responsive" style="width:50%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each sortedPlayers as |player|}}
        <tr>
            <td>{{#link-to 'player' player.id}}{{player.name}}{{/link-to}}</td>
            <td>{{player.points}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
