<h1>Teams</h1>

<!-- {{#each model as |team|}}
     <h2>{{#link-to 'team' team.id}}Team {{team.id}}{{/link-to}}</h2>
     {{/each}} -->

<table class="table table-hover table-responsive" style="width: 50%">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Players</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each sortedTeams as |team|}}
        <tr>
            <td>{{#link-to 'team' team.id}}Team {{team.id}}{{/link-to}}</td>
            <td>{{#link-to 'player' team.player1.id}}{{team.player1.name}}{{/link-to}}</td>
            <td>{{#link-to 'player' team.player2.id}}{{team.player2.name}}{{/link-to}}</td>
            <td>{{team.points}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
