<div class="page-header">
    <h1>Team {{model.id}}: {{#link-to 'player' model.player1.id}}{{model.player1.name}}{{/link-to}} & {{#link-to 'player' model.player2.id}}
        {{model.player2.name}}
    {{/link-to}}</h1>
</div>

<ul>
    <li>Points: {{model.points}}</li>
    <li>Matches played: {{model.statistics.matchesplayed}}</li>
    <li>Matches won: {{model.statistics.matcheswon}}</li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">Match Statistics</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <!-- {{ember-chart type="Pie" data=matchesData options=chartOptions height=200 legend=true}} -->
                {{nvd3-chart type='pieChart' datum=matchesData beforeSetup=matchesDataBeforeSetup options=matchesDataOptions}}
            </div>

            <div class="col-md-6">
                <!-- {{ember-chart type="Doughnut" data=crawlData options=chartOptions height=200 legend=true}} -->
                {{nvd3-chart type='pieChart' datum=crawlData beforeSetup=matchesDataBeforeSetup options=crawlOptions}}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Points History</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <!-- {{ember-chart type="Line" data=pointsHistData width=1000 height=600 }} -->
                {{nvd3-chart type='lineWithFocusChart' datum=pointsHistData options=pointsHistOptions beforeSetup=pointsHistBeforeSetup}}
            </div>
        </div>
        <div class="row">
            <div class="btn-group" role="group" >
                <button {{action 'fullHistory'}} type="button" class="btn btn-default">Full History</button>
                <button {{action 'limitHistory'}} type="button" class="btn btn-default">Last 100 Matches</button>
            </div>
        </div>
    </div>
</div>
